{% extends '@EDRAppli/layoutadmin.html.twig' %}

{% block body %}
    <h3 class="admin_h3">Avis</h3>

    {{ avi.commentaire }}
    {{ avi.note }}
    {% if avi.favoris %}Yes{% else %}No{% endif %}
    {% if avi.sauvegarde %}Yes{% else %}No{% endif %}

    <p class="admin_nav">
        <a href="{{ path('avis_index') }}" alt="Retour à la liste des avis">&crarr;</a>

        <a href="{{ path('avis_edit', { 'id': avi.id }) }}" class="admin_edit">Modifier</a>

        {{ form_start(delete_form) }}
        <input type="submit" value="Supprimer" class="admin_delete">
        {{ form_end(delete_form) }}
    </p>
{% endblock %}
