{#ADMIN#}

{#{% extends 'base.html.twig' %} #}
{% extends "EDRAppliBundle::layoutadmin.html.twig" %}

{% block body %}

    <h3 class="admin_h3">Liste des tags</h3>

    <div class="row admin_new">
        <a href="{{ path('tag_new') }}">Créer un nouveau tag</a>
    </div>

    {% for flashMessage in app.session.flashbag.get('mesConfirm') %}

        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ flashMessage }}
        </div>

    {% endfor %}
    {% for tag in tags %}

        <div class="row">
            <div class="col s12 admin_tag">
                <div class="row">
                    <h6 class="admin_h6">{{ tag.nom }}</h6>
                </div>
                <div class="row admin_nav">
                    <a href="{{ path('tag_edit', { 'id': tag.id }) }}" class="admin_edit">Modifier</a>
                    <a href="{{ path('tag_delete', { 'id': tag.id }) }}" class="admin_delete">Supprimer</a>
                </div>
            </div>
        </div>

    {% endfor %}
{% endblock %}
