{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# création du bloc « title » avec « OC Plateforme » comme contenu par défaut #}
    <title>{% block title %}EDR{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/edrappli/css/jTinder.css') }}" type="text/css">

    {% endblock %}


</head>
<body>
<!-- start padding container -->


<div class="row">
    <div id="menu" class="col-md-3">
        <h3>Menu</h3>
        <ul class="nav nav-pills nav-stacked">
            {# utilisation de la fonction {{ path() }} pour faire des liens vers d'autres routes #}
            <li><a href="{{ path('edr_appli_home', {'type' : 'famille'} ) }}">Accueil</a></li>
            <li><a href="{{ path('edr_appli_home') }}">entre Amis</a></li>
            <li><a href="{{ path('edr_appli_home') }}">Famille</a></li>
            <li><a href="{{ path('edr_appli_home') }}">Cadre professionnel</a></li>
            <li><a href="{{ path('edr_appli_home') }}">Date</a></li>
        </ul>

        {#<h4>Dernières annonces</h4>#}
        {# inclusion de la méthode menu du contrôleur Advert du bundle OCPlatformBundle, avec l'argument nombre défini à 3 #}
        {#{{ render(controller("OCPlatformBundle:Advert:menu", {'limit':3})) }}#}

    </div>
    <div id="content" class="col-md-9">
        {# création du bloc « body » sans contenu par défaut #}
        {% block body %}
        {% endblock %}
    </div>
</div>

<hr/>

<footer>
    <p>EDR Application © {{ 'now'|date('Y') }} </p>
</footer>
</div>

<!-- jQuery lib -->
<script type="text/javascript" src="{{ asset('bundles/edrappli/js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/edrappli/js/jquery.transform2d.js') }}"></script>
<!-- jTinder lib -->
<script type="text/javascript" src="{{ asset('bundles/edrappli/js/main.js') }}"></script>

<script type="text/javascript" src="{{ asset('bundles/edrappli/js/jquery.jTinder.js') }}"></script>
<!-- jTinder initialization script -->
<script type="text/javascript" src="{{ asset('bundles/edrappli/js/main.js') }}"></script>

<script>$("#tinderslide").jTinder();</script>

{% block javascripts %}


{% endblock %}

</body>
</html>