{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body_login %}
    <div class="block_login">
        <div class="valign-wrapper">
            <div class="row">
                <div class="col s12">
                    <div class="row center-align">
                        <h2 class="edrinscription">Inscrivez-vous pour voir les restaurants et bars préférés de vos amis.</h2>
                    </div>

                    {% if error %}
                        <div class="row">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <div class="row banner">
                        <form action="{{ path("fos_user_security_check") }}" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                            <label for="username"><i class="material-icons">face</i></label>
                            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

                            <label for="password"><i class="material-icons">lock_outline</i></label>
                            <input type="password" id="password" name="_password" required="required" />
                            <div class=" center-align">
                                <input class="waves-effect waves-light btn center-align sign" type="submit" id="_submit" name="_submit" value="LOG IN" {{ 'security.login.submit'|trans }}" />
                                <a href="{{ path('fos_user_registration_register') }}" class="waves-effect waves-light btn sign  center-align">Create an account</a>
                                <a class="waves-effect waves-light sign btn center-align">Sign up with Facebook</a>
                            </div>
                        </form>
                    </div>
                    <div class="row center-align">
                        <a href="{{ path('fos_user_registration_register') }}" class="waves-effect waves-light sign btn">Skip</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}


{#{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body_login %}

<h2>Connexion</h2>

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <label for="username">{{ 'security.login.username'|trans }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

    <label for="password">{{ 'security.login.password'|trans }}</label>
    <input type="password" id="password" name="_password" required="required" />

    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
</form>

{% endblock %}#}
