{#ADMIN#}

{% extends "EDRAppliBundle::layoutadmin.html.twig" %}

{% block body %}
    <h3 class="admin_h3">Modification d'une catégorie</h3>

<div class="admin_form" >{{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Modifier" class="admin_submit"/>
    <a href="{{ path('categorie_index') }}" class="admin_submit">Retour aux catégories</a>

    {{ form_end(edit_form) }}
    {{ form_start(delete_form) }}
    <input type="submit" class="admin_submit" value="Supprimer">
    {{ form_end(delete_form) }}


</div>
{% endblock %}
