{#ADMIN#}

{% extends "EDRAppliBundle::layoutadmin.html.twig" %}

{% block body %}
    <h3 class="admin_h3">Catégorie</h3>

    {{ categorie.nom }}
    <p class="admin_nav">
            <a href="{{ path('categorie_index') }}" alt="Retour à la liste des catégories" title="Retour à la liste des catégories" class="admin_retour"></a>

            <a href="{{ path('categorie_edit', { 'id': categorie.id }) }}" class="admin_edit">Modifier</a>

            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="admin_delete">
            {{ form_end(delete_form) }}
    </p>

{% endblock %}
