{% extends "EDRAppliBundle::layoutadmin.html.twig" %}

{% block body %}
    <h1>Categorie</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ categorie.nom }}</td>
            </tr>
            {% for avis  in avis_etablissement %}
                <ul class="collapsible" data-collapsible="expandable">note : {{ avis.note }}
                    commentaire : {{ avis.commentaire }} favoris : {{ avis.favoris }}</ul>
            {% endfor %}
        </tbody>
    </table>


    <ul>
        <li>
            <a href="{{ path('categorie_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('categorie_edit', { 'id': categorie.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
