{#ADMIN#}


{#{% extends 'base.html.twig' %} #}
{% extends "EDRAppliBundle::layoutadmin.html.twig" %}

{% block body %}
    <h3 class="admin_h3">Gestion des Etablissements</h3>

    <div class="row admin_menu admin_new">
        <a href="{{ path('etablissement_new') }}">Ajouter un nouvel établissement</a>
    </div>



    {% for etablissement in etablissements %}
        <a href="{{ path('etablissement_show', { 'id': etablissement.id }) }}">{{ etablissement.id }}</a>
        <div class="card admin_etab_card">
            <h4 class="admin_etab">{{ etablissement.nom }}</h4>
            <img class="img-responsive" src="{{ asset('uploads/photos/') }}{{ etablissement.photo }}"><br>
            {{ etablissement.adresse }}<br>
            {{ etablissement.adresse2 }}<br>
            {{ etablissement.codePostal }}<br>
            {{ etablissement.ville }}<br>
            {{ etablissement.longitude }}<br>
            {{ etablissement.latitude }}<br>
            {{ etablissement.telephone }}<br>
            {{ etablissement.email }}<br>
            {% if etablissement.publier %}Publié{% else %}Non Publié{% endif %}<br>
            <p class="admin_nav">
                <a href="{{ path('etablissement_show', { 'id': etablissement.id }) }}" class="admin_show">Afficher</a>
                <a href="{{ path('etablissement_edit', { 'id': etablissement.id }) }}" class="admin_edit" alt="Modifier" title="Modifier">Modifier</a>
            </p>
        </div>
    {% endfor %}



{% endblock %}
