{#{% extends 'base.html.twig' %} #}
{% extends "EDRAppliBundle::layout.html.twig" %}

{% block edrappli_body %}
    <h1 class="jumbotron">Etablissement list</h1>

    <div class="container-fluid">
        <table class="table table-hover">
            <thead>

            <tbody>
            {% for etablissement in etablissements %}
                <tr>
                    <td>
                        <a href="{{ path('etablissement_show', { 'id': etablissement.id }) }}">{{ etablissement.id }}</a>
                    </td>
                    <td>{{ etablissement.nom }}</td>
                    <td><img class="" src="{{ asset('uploads/photos/') }}{{ etablissement.photo }}"></td>
                    <td>{{ etablissement.adresse }}</td>
                    <td>{{ etablissement.adresse2 }}</td>
                    <td>{{ etablissement.codePostal }}</td>
                    <td>{{ etablissement.ville }}</td>
                    <td>{{ etablissement.longitude }}</td>
                    <td>{{ etablissement.latitude }}</td>
                    <td>{{ etablissement.telephone }}</td>
                    <td>{{ etablissement.email }}</td>
                    <td>{% if etablissement.publier %}Yes{% else %}No{% endif %}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('etablissement_show', { 'id': etablissement.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('etablissement_edit', { 'id': etablissement.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
        <ul>
            <li>
                <a href="{{ path('etablissement_new') }}">Create a new entry</a>
            </li>
        </ul>

{% endblock %}
