{#ADMIN#}

{#{% extends 'base.html.twig' %} #}
{% extends "EDRAppliBundle::layoutadmin.html.twig" %}

{% block body %}
    <h3 class="admin_h3">Etablissement</h3>

    {% for avis  in avis_etablissement %}
        <ul class="collapsible" data-collapsible="expandable">note : {{ avis.note }}
            commentaire : {{ avis.commentaire }}</ul>
    {% endfor %}

    {{ etablissement.nom }}
    <img class="" src="{{ asset('uploads/photos/') }}{{ etablissement.photo }}">
    {{ etablissement.adresse }}<br>
    {{ etablissement.adresse2 }}<br>
    {{ etablissement.codePostal }}<br>
    {{ etablissement.ville }}<br>
    {{ etablissement.longitude }}<br>
    {{ etablissement.latitude }}<br>
    {{ etablissement.telephone }}<br>
    {{ etablissement.email }}<br>
    {% if etablissement.publier %}Publié{% else %}Non Publié{% endif %}<br>

    <button class="admin_submit">
        <a href="{{ path('etablissement_index') }}">Retour à la liste des établissements</a>
    </button>

    <a href="{{ path('etablissement_edit', { 'id': etablissement.id }) }}" class="admin_edit">Modifier</a>

    {{ form_start(delete_form) }}
    <input type="submit" value="Delete" class="admin_delete">
    {{ form_end(delete_form) }}

{% endblock %}
