{#CLIENT#}


{# src/EDR/AppliBundle/Resources/views/Appli/index.html.twig #}

{% extends "EDRAppliBundle::layout.html.twig" %}

{#{% block title  %}#}
    {#Recherche Restaurants - {{ parent() }}#}
{#{% endblock %}#}

{% block menu %}

    {{ parent() }}

    {#<div class="row">#}
        {#<div class="offset-s10 col s2">#}
            {#<i class="material-icons home_profil">account_circle</i>#}
        {#</div>#}

        {#<hr />#}

        {#<div class="offset -s1 col s10 offset -s1">#}
            {#<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d83998.75786844667!2d2.277345044075076!3d48.858950577385116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e1f06e2b70f%3A0x40b82c3688c9460!2sParis!5e0!3m2!1sfr!2sfr!4v1469530479595" width="352" height="264" frameborder="0" style="border:0" allowfullscreen></iframe>#}
        {#</div>#}

    {#</div>#}



    {#<ul class="nav nav-pills nav-stacked">#}
        {#{% for categorie in categories %}#}
            {#<div class="col s12">#}
                {#<div class="row">#}
                    {#<div>#}
                        {#<li class="class_{{ categorie.nom|lower }}"><a href="{{ path('etab_category_show', {'category' : categorie.nom }) }}"><p class="home_center"><i class="material-icons logo">{{ categorie.icongoogle }}</i></p></a></li>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#{% endfor %}#}
    {#</ul>#}


<section id="section-1">
    <div class="content-slider">
        <input type="radio" id="banner1" class="sec-1-input" name="banner" checked>
        <input type="radio" id="banner2" class="sec-1-input" name="banner">
        <input type="radio" id="banner3" class="sec-1-input" name="banner">
        <input type="radio" id="banner4" class="sec-1-input" name="banner">
        <div class="slider">
            <div id="top-banner-1" class="banner">
                <div class="banner-inner-wrapper">
                    <h2>Creative Template</h2>
                    <h1>Welcome<br>to MoGo</h1>
                    <div class="line"></div>
                    <div class="learn-more-button"><a href="#section-2">Learn More</a></div>
                </div>
            </div>
            <div id="top-banner-2" class="banner">
                <div class="banner-inner-wrapper">
                    <h2>What We Do</h2>
                    <h1>Great<br>MoGo</h1>
                    <div class="line"></div>
                    <div class="learn-more-button"><a href="#section-4">Learn More</a></div>
                </div>
            </div>
            <div id="top-banner-3" class="banner">
                <div class="banner-inner-wrapper">
                    <h2>Here We Are</h2>
                    <h1>Join <br>EAT DRINK COMMUNITY</h1>
                    <div class="line"></div>
                    <div class="learn-more-button"><a href="#section-6">Learn More</a></div>
                </div>
            </div>
            <div id="top-banner-4" class="banner">
                <div class="banner-inner-wrapper">
                    <h2>Our Contacts</h2>
                    <h1>Welcome<br>to MoGo</h1>
                    <div class="line"></div>
                    <div class="learn-more-button"><a href="#main-footer">Learn More</a></div>
                </div>
            </div>
        </div>

{% endblock  %}


