{# src/EDR/AppliBundle/Resources/views/Appli/index.html.twig #}

{% extends "EDRAppliBundle::layout.html.twig" %}

{% block title %}
    Recherche Restaurants - {{ parent() }}
{% endblock %}

{% block edrappli_body %}


    {% if etablissements is defined %}

        {% for etablissement in etablissements %}

            <hr/>

            <div class="row">
                <div class="col-md-6">
                    <img class="img-thumbnail img-responsive"
                         src="{{ asset('uploads/photos/') }}{{ etablissement.photo }}"/>
                </div>
                <div class="col-md-6">
                    <h2>{{ etablissement.nom }}</h2>
                    <p>{{ etablissement.adresse }}</p>
                    <p>{{ etablissement.adresse2 }}</p>
                    <p>{{ etablissement.codePostal }} {{ etablissement.ville }}</p>
                    <p>{{ etablissement.telephone }}</p>
                </div>
            </div>


        {% endfor %}

    {% endif %}

    {% if form is defined %}
    <div class="row">
        {{ form_start(form) }}

        {{ form_widget(form) }}

            <input type="submit" value="Rechercher" />



        {{ form_end(form) }}
            </form>
        </div>
    </div>
    <div>
        <p>Etablissement rechercher:</p>
        <ul>
            {% for etablissement in etablissements %}
            <li>
                {{ etablissement.nom }}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

{% endblock %}



