{# src/EDR/AppliBundle/Resources/views/Appli/index.html.twig #}

{% extends "EDRAppliBundle::layout.html.twig" %}

{% block title  %}
    Accueil - {{ parent() }}
{% endblock %}

{% block edrappli_body %}

    <h2>Adresse du restaurant</h2>

    {#
    <ul>
        {% for advert in listAdverts %}
            <li>
                <a href="{{ path('oc_platform_view', {'id':advert.id}) }}">
                    {{ advert.title }}
                </a>
                par {{ advert.author }},
                le {{ advert.date|date('d/m/Y') }}
            </li>
        {% else %}
            <li>Pas encore d'annonces</li>
        {% endfor %}
    </ul>
    #}

{% endblock %}