{# src/EDR/AppliBundle/Resources/views/Appli/index.html.twig #}

{% extends "EDRAppliBundle::layout.html.twig" %}

{% block title  %}
    Recherche Restaurants - {{ parent() }}
{% endblock %}

{% block edrappli_body %}

    {% if etablissements is defined %}

        {% for etablissement in etablissements %}
            <h2>{{ etablissement.nom }}</h2>
            <p>{{ etablissement.adresse }}</p>
            <p>{{ etablissement.adresse2 }}</p>
            <p>{{ etablissement.codePostal }} {{ etablissement.ville }}</p>
            <p>{{ etablissement.telephone }}</p>
        {% endfor %}
    {% endif %}

    {#
    <ul>
        {% for advert in listAdverts %}
            <li>
                <a href="{{ path('oc_platform_view', {'id':advert.id}) }}">
                    {{ advert.title }}
                </a>
                par {{ advert.author }},
                le {{ advert.date|date('d/m/Y') }}
            </li>
        {% else %}
            <li>Pas encore d'annonces</li>
        {% endfor %}
    </ul>
    #}

{% endblock %}