{#CLIENT#}


{# src/EDR/AppliBundle/Resources/views/Appli/index.html.twig #}

{% extends "EDRAppliBundle::layout.html.twig" %}

{% block title %}
    Recherche Restaurants - {{ parent() }}
{% endblock %}

{% block menu %}

    {{ parent() }}

    {#Formulaire pour rechercher par tag#}
    {% if form is defined %}

        {{ form_start(form) }}

        <div class="row">
            {{ form_label(form.nom) }}
            <div class="input-field col s12">
                {{ form_widget(form.nom) }}
            </div>
            {{ form_errors(form.nom) }}
        </div>
        <div class="row">
            <input type="submit" value="search"/>
        </div>

        {{ form_end(form) }}

    {% endif %}

{% endblock %}

{% block edrappli_body %}

{# Affichage restaurant selon catégorie choisie #}

    {% if etablissements is defined %}

        {% if etablissements is empty %}
            {#Message à renvoyer si la variable établissement est vide#}
        {% endif %}

        {% for etablissement in etablissements %}

            <div class="row">
                <div class="col m6 offset-m3 s12">

                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{{ asset('uploads/photos/') }}{{ etablissement.photo }}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">{{ etablissement.nom }}
                                <i class="material-icons right">more_vert</i>
                            </span>
                            <p>{{ etablissement.adresse }}</p>
                            <p>{{ etablissement.adresse2 }}</p>
                            <p>{{ etablissement.codePostal }} {{ etablissement.ville }}</p>
                            <p>{{ etablissement.telephone }}</p>

                            <div class="card-action">
                                <a href="{{ path('map') }}">M'y rendre</a>
                            </div>

                            {% if not etablissement.tags.empty %}

                                {% for tag in etablissement.tags %}
                                    <div class="chip">
                                        {{ tag.nom }}
                                        <i class="close material-icons">close</i>
                                    </div>
                                {% endfor %}

                            {% endif %}

                        </div>

                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Avis<i class="material-icons right">close</i></span>
                            <div class="row">
                                {{ form_start(form_avis) }}
                                {{ form_widget(form_avis) }}
                                <input type="submit" value="Create" />
                                {{ form_end(form_avis) }}
                            </div>
                            {% for etablissement in etablissement.avis %}

                                <div class="collection">
                                    <div class="row">
                                        <ul>

                                            <li class="collection-item avatar">
                                                <img class="circle" src="{{ asset('bundles/edrappli/images/Bk.jpg') }}" alt=""/>
                                                <a href="#!" class="collection-item">
                                                    {{ etablissement.user }}
                                                    <li>commentaire :{{ etablissement.commentaire }}</li>
                                                    <span class="badge">note :{{ etablissement.note }}</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            {% endfor %}
                    </div>
                </div>
</div>
        {% endfor %}

    {% else %}
        {#Message a afficher si la variable établissement n'est pas renvoyé par le controlleur#}
        <p>plipp</p>
    {% endif %}

    <!-- pagination -->
    <ul class="pagination">
        {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
        {% for p in range(1, nbPages) %}
            <li{% if p == page %} class="active"{% endif %}>
                <a href="{{ path('etab_category_show', {'category': categ, 'page': p}) }}">{{ p }}</a>
            </li>
        {% endfor %}
    </ul>



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>
{% endblock %}
