{# src/EDR/AppliBundle/Resources/views/layout.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block menu %}
    <ul class="nav nav-pills nav-stacked">
        <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
        {% for categorie in categories %}
            {# utilisation de la fonction {{ path() }} pour faire des liens vers d'autres routes #}
            <li><a href="{{ path('etab_category_show', {'category' : categorie.nom }) }}">{{ categorie.nom }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block body %}

    {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
    {% block edrappli_body %}

    {% endblock %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    {#<script type="text/javascript" src="{{ asset('bundles/edrappli/js/googlemap.js') }}"></script>#}

{% endblock %}